.DS_Store
venv
*.pyc
*.sqlite
*.csv
*.txt
SCRATCHPAD.md
incidents_current.html
settings_development.py
tmp/*
public/static/*
functions_playground.py
v1_scraper_wildfires.py
v2_scraper_wildfires.py
v3_scraper_wildfires.py
v4_scraper_wildfires.py
v5_scraper_wildfires.py
v6_scraper_wildfires.py
bak_fires.json
bak_tweets.json
new_fires.json
new_tweets.json