{% extends "base.html" %}
{% load humanize %}
{% load tz %}
{% load tracker_tags %}
{% load static %}

<!-- begin meta -->
{% block title %}About The Data | Fire Tracker | 89.3 KPCC{% endblock %}
{% block description %}Fire Tracker, KPCC's tool for following & researching California wildfires, contains fire information displayed by the California Department of Forestry and Fire Protection.{% endblock %}
{% block keywords %}wildfire data, historic, archives, KPCC, Southern California Public Radio, 89.3, 89.3 KPCC, Southern California, Pasadena, Los Angeles, Fires, Wildfires, Fire Tracker, News{% endblock %}
{% block og_title %}About The Data | Fire Tracker | 89.3 KPCC{% endblock %}
{% block og_site_name %}89.3 KPCC{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_url %}http://projects.scpr.org/firetracker/wildfires/archives/{% endblock %}
{% block og_description %}Fire Tracker, KPCC's tool for following & researching California wildfires, contains fire information displayed by the California Department of Forestry and Fire Protection.{% endblock %}
{% block twitter_url %}http://projects.scpr.org/firetracker/wildfires/archives/{% endblock %}
{% block twitter_title %}About The Data | Fire Tracker | 89.3 KPCC{% endblock %}
{% block twitter_description %}Fire Tracker, KPCC's tool for following & researching California wildfires, contains fire information displayed by the California Department of Forestry and Fire Protection.{% endblock %}
<!-- end meta -->

{% block about_data_content %}
    <header class="masthead">
        <div class="masthead-inner bound">
            <div class="brief">
                <h1><a href="{% url index %}about/the-data/">About The Data</a></h1>
            </div>
            <aside class="brand">
                <h3><span class="parent"><a href="http://www.scpr.org/">89.3 KPCC</a></span> <span class="title"><a href="{% url index %}">Fire Tracker</a></span></h3>
                <h4><span>KPCC’s up-to-the-minute tool for following &amp; researching Southern California wildfires.</span> <a href="https://scprcontribute.publicradio.org/">Pledge now.</a></h4>
            </aside>
        </div><!--/ .masthead-inner -->
    </header><!--/ .masthead -->

    <div class="page-cols page-cols-simple bound">
        <p>Fire Tracker, KPCC's tool for following &amp; researching California wildfires, contains fire information displayed by the <a href="http://www.calfire.ca.gov/">California Department of Forestry and Fire Protection</a> -- also known as CalFire -- which protects more than 31 million acres of California's privately-owned wildlands and provides emergency services in 36 of the State's 58 counties.</p>

        <h2>About the data</h2>

        <ul>
            <li>Data and information contained in Fire Tracker is updated twice a day and is based on the <a href="http://cdfdata.fire.ca.gov/incidents/incidents_current">latest updates</a> from <a href="http://www.calfire.ca.gov/">CalFire</a>
            . As such, Fire Tracker is a news tool and does not contain the latest information from emergency management officials, nor should it be used to make decisions that affect you and your family.</li>
            <li>Data for fires under the jurisdiction of the <a href="http://www.fs.fed.us/">U.S. Forest Service</a> -- displayed on the department's <a href="http://www.inciweb.org/incident/3307/">InciWeb Incident Information System</a> -- currently is not represented.</li>
            <li>Mapped locations are based on the approximate location of the fire as released by CalFire and should not be used to make decisions that affect you and your family.</li>
            <li>Data for fires that have reached 100 percent containment may contain inaccuracies.</li>
            <li>In cases where data for a particular item is not available or not clear, we display it as "n/a", or not available.</li>
            <li>To determine the number of fires and acreage affected by wildfires in Southern California we have added the number of fires that CalFire has tracked in Los Angeles, Orange, Riverside, San Bernardino and Ventura counties. This figure does not necessarily take into consideration wildfires for which another organization has jurisdiction.</li>
            <li>The 2012 aggregate data is based on data from the <a href="http://cdfdata.fire.ca.gov/incidents/incidents_archived">CalFire archives</a>.</li>
            <li>The 2013 aggregate data is based on 2013 fires contained in the database, and as such does not necessarily take into consideration wildfires for which another organization has jurisdiction.</li>
        </ul>

    </div><!--/ .page-cols -->
{% endblock %}