{% load static %}

<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

    <!-- begin header -->
    <head>

        <!-- begin meta -->
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        {% block robots %}{% endblock %}
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="author" content="89.3 KPCC" />
        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:site_name" content="{% block og_site_name %}{% endblock %}" />
        <meta property="og:type" content="{% block og_type %}{% endblock %}" />
        <meta property="og:image" content="http://projects.scpr.org{% static 'meta/firetracker-opengraph.jpg' %}" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:url" content="{% block og_url %}{% endblock %}" />
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="{% block twitter_url %}{% endblock %}"/>
        <meta name="twitter:domain" content="http://projects.scpr.org/firetracker"/>
        <meta name="twitter:site" content="KPCC"/>
        <meta name="twitter:title" content="{% block twitter_title %}{% endblock %}"/>
        <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}"/>
        <meta name="twitter:image:src" content="http://projects.scpr.org/firetracker/static/meta/firetracker-opengraph.jpg">
        <link rel="shortcut icon" href="http://media.scpr.org/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon-precomposed" href="{% static 'meta/apple-touch-icon-precomposed.png' %}" />
        <!-- end meta -->

        <!-- begin css -->
        <link href="{% static 'css/reset.css' %}" media="screen" rel="stylesheet" />
        <link href="{% static 'css/display.css' %}" media="screen" rel="stylesheet" />
        {% block css_overrides %}{% endblock %}

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <link href="{% static 'css/display-ie.css' %}" media="screen" rel="stylesheet" />
        <![endif]-->
        <!-- end css -->

        <!-- begin base scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{% static 'js/modernizr-2.5.3.min.js' %}"></script>
        <script src="{% static 'js/behaviors.js' %}"></script>
        {% block additional_scripts %}{% endblock %}
        {% block kpcc_api_query_script %}{% endblock %}
        {% block kpcc_api_query_config %}{% endblock %}
        <script src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="//use.typekit.net/mos4lel.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <!-- end base scripts -->

    </head>
    <!-- end header -->

    <!-- begin body -->
    <body class="{% block bodyclass %}{% endblock %}">

        <!-- streamlining content blocks -->
        {% block extended_page_header %}{% endblock %}
        {% block extended_page_content %}{% endblock %}
        <!-- streamlining content blocks -->

        <!-- footer included where needed -->

        <!-- begin chartbeat -->
        <script type="text/javascript">
            var _sf_async_config = { uid: 33583, domain: 'projects.scpr.org', useCanonical:true };
            (function() {
                function loadChartbeat() {
                    window._sf_endpt = (new Date()).getTime();
                    var e = document.createElement('script');
                    e.setAttribute('language', 'javascript');
                    e.setAttribute('type', 'text/javascript');
                    e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
                    document.body.appendChild(e);
                };
                var oldonload = window.onload;
                window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();
        </script>
        <!-- end chartbeat -->

        <!-- begin google analytics -->
        <script type="text/javascript">
            var hostName = 'projects.scpr.org';
            var _gaq = _gaq || [];
            _gaq.push(
                ['_setAccount', 'UA-624724-1'],
                ['_setDomainName', hostName],
                ['_setCustomVar', 6, 'Station', 'Southern California Public Radio', 2],
                ['_setCustomVar', 7, 'PageType', 'Story', 3],
                ['_trackPageview'],
                ['b._setAccount', 'UA-18188937-11'],
                ['b._setDomainName', hostName],
                ['b._setCustomVar', 6, 'Station', 'Southern California Public Radio', 2],
                ['b._setCustomVar', 7, 'PageType', 'Story', 3],
                ['b._trackPageview']
            );
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!-- end google analytics -->

        <!-- begin webtrends stats -->
        <script src="http://media.scpr.org/assets/scripts/webtrends.v2.js"></script>
        <script>
            //<![CDATA[
                var _tag=new WebTrends();
                _tag.dcsGetId();
            //]]>
        </script>
        <script>
            //<![CDATA[
                _tag.dcsCustom=function(){
                    // Add custom parameters here.
                    //_tag.DCSext.param_name=param_value;
                }
            _tag.dcsCollect();
            //]]>
        </script>
        <noscript>
            <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/dcsyqctzwuz5bdsebpmwhwe8w_2p8d/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.3.0&amp;WT.dcssip=www.scpr.org"/></div>
        </noscript>
        <!-- end webtrends stats -->

        <!-- begin comscore stats -->
        <script>
            var _comscore = _comscore || [];
            _comscore.push({ c1: "2", c2: "6035974", c3: "", c4: "" });
            (function() {
            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
            })();
        </script>
        <noscript>
            <img src="http://b.scorecardresearch.com/p?c1=2&c2=6035974&c3=&c4=&c5=&c6=&c15=&cv=2.0&cj=1" />
        </noscript>
        <!-- end comscore stats -->

    </body>
    <!-- end body -->

</html>
<!-- end document -->
