{% load static %}

<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

    <!-- begin header -->
    <head>

        <!-- begin meta -->
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <!--
            <meta name="robots" content="noindex, nofollow, noarchive">
        -->
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="author" content="89.3 KPCC" />
        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:site_name" content="{% block og_site_name %}{% endblock %}" />
        <meta property="og:type" content="{% block og_type %}{% endblock %}" />
        <meta property="og:image" content="http://projects.scpr.org{% static 'meta/firetracker-opengraph.jpg' %}" />
        <meta property="og:url" content="{% block og_url %}{% endblock %}" />
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="{% block twitter_url %}{% endblock %}"/>
        <meta name="twitter:domain" content="http://projects.scpr.org/firetracker"/>
        <meta name="twitter:site" content="KPCC"/>
        <meta name="twitter:title" content="{% block twitter_title %}{% endblock %}"/>
        <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}"/>
        <meta name="twitter:image:src" content="http://projects.scpr.org/firetracker/static/meta/firetracker-opengraph.jpg">
        <link rel="shortcut icon" href="http://media.scpr.org/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon-precomposed" href="{% static 'meta/apple-touch-icon-precomposed.png' %}" />
        <!-- end meta -->

        <!-- begin css -->
        <link href="{% static 'css/reset.css' %}" media="screen" rel="stylesheet" />
        <link href="{% static 'css/display.css' %}" media="screen" rel="stylesheet" />

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <link href="{% static 'css/display-ie.css' %}" media="screen" rel="stylesheet" />
        <![endif]-->
        <!-- end css -->

        <!-- begin base scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://projects.scpr.org/static/static-files/scripts/modernizr-2.5.3.min.js"></script>
        <script src="{% static 'js/behaviors.js' %}"></script>
        {% block kpcc_api_query_script %}{% endblock %}
        {% block kpcc_api_query_config %}{% endblock %}
        <script src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="//use.typekit.net/mos4lel.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script async="" src="http://www.google-analytics.com/ga.js"></script>
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <!-- end base scripts -->

    </head>
    <!-- end header -->

    <!-- begin body -->
    <body>
        {% block fire_detail_header %}{% endblock %}
        {% block fire_details_content %}{% endblock %}
        {% block error_page_content %}{% endblock %}
        {% block archives_page_content %}{% endblock %}
        {% block about_data_content %}{% endblock %}




        <!-- streamlining content blocks -->
        {% block extended_page_header %}{% endblock %}
        {% block extended_page_content %}{% endblock %}
        <!-- streamlining content blocks -->

        <!-- begin footer -->
        <footer class="epilogue">
            <div class="epilogue-inner bound">
                <h1><a href="http://www.scpr.org/" class="parent">89.3 KPCC</a> <a href="{% url index %}" class="title">Fire Tracker</a></h1>
                <nav>
                    <ul>
                        <li><a href="http://scpr.org/terms/">Terms &amp; Conditions</a></li>
                        <li><a href="http://scpr.org/privacy/">Privacy</a></li>
                        <li><a href="http://scpr.org/web_site_feedback">Website Feedback</a></li>
                        <li class="about"><a href="{% url index %}about/the-data/">About Fire Tracker</a></li>
                    </ul>
                </nav>
                <p class="legal">Copyright {% now "Y" %} &copy; <a href="http://www.scpr.org/">Southern California Public Radio</a></p>
            </div>
        </footer><!--/ .epilogue -->
        <!-- end footer -->

        <!-- begin analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-624724-5']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <script type="text/javascript">
            var _sf_async_config={uid:2825,domain:"projects.scpr.org"};
            (function(){
                function loadChartbeat() {
                    window._sf_endpt=(new Date()).getTime();
                    var e = document.createElement('script');
                    e.setAttribute('language', 'javascript');
                    e.setAttribute('type', 'text/javascript');
                    e.setAttribute('src',
                        (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") + "js/chartbeat.js");
                    document.body.appendChild(e);
                };
                var oldonload = window.onload;
                window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();
        </script>
        <!-- end analytics -->

    </body>
    <!-- end body -->

</html>
<!-- end document -->
