{% load static %}

<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

    <!-- begin header -->
    <head>

        <!-- begin meta -->
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        {% block robots %}{% endblock %}
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="author" content="89.3 KPCC" />
        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:site_name" content="{% block og_site_name %}{% endblock %}" />
        <meta property="og:type" content="{% block og_type %}{% endblock %}" />
        <meta property="og:image" content="http://firetracker.scpr.org{% static 'meta/firetracker-opengraph.jpg' %}" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:url" content="{% block og_url %}{% endblock %}" />
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="{% block twitter_url %}{% endblock %}"/>
        <meta name="twitter:domain" content="http://firetracker.scpr.org"/>
        <meta name="twitter:site" content="KPCC"/>
        <meta name="twitter:title" content="{% block twitter_title %}{% endblock %}"/>
        <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}"/>
        <meta name="twitter:image:src" content="http://firetracker.scpr.org/static/meta/firetracker-opengraph.jpg">
        <link rel="icon" href="http://projects.scpr.org/static-files/images/template-icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon-precomposed" href="{% static 'meta/apple-touch-icon-precomposed.png' %}" />
        <!-- end meta -->

        <!-- begin css -->
        <link href="{% static 'css/reset.css' %}" media="screen" rel="stylesheet" />
        <link href="{% static 'css/display.css' %}" media="screen" rel="stylesheet" />
        {% block css_overrides %}{% endblock %}

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <link href="{% static 'css/display-ie.css' %}" media="screen" rel="stylesheet" />
        <![endif]-->
        <!-- end css -->

        <!-- begin base scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{% static 'js/modernizr-2.5.3.min.js' %}"></script>
        <script src="{% static 'js/behaviors.js' %}"></script>
        {% block additional_scripts %}{% endblock %}
        {% block kpcc_api_query_script %}{% endblock %}
        {% block kpcc_api_query_config %}{% endblock %}
        <script src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="//use.typekit.net/mos4lel.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <!-- end base scripts -->

    </head>
    <!-- end header -->

    <!-- begin body -->
    <body class="{% block bodyclass %}{% endblock %}">

        <!-- streamlining content blocks -->
        {% block extended_page_header %}{% endblock %}
        {% block extended_page_content %}{% endblock %}
        <!-- streamlining content blocks -->

        <!-- footer included where needed -->

        <!-- begin chartbeat -->
        <script type="text/javascript">
            var _sf_async_config = { uid: 33583, domain: 'firetracker.scpr.org', useCanonical:true };
            (function() {
                function loadChartbeat() {
                    window._sf_endpt = (new Date()).getTime();
                    var e = document.createElement('script');
                    e.setAttribute('language', 'javascript');
                    e.setAttribute('type', 'text/javascript');
                    e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
                    document.body.appendChild(e);
                };
                var oldonload = window.onload;
                window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();
        </script>
        <!-- end chartbeat -->

        <!-- begin google analytics -->
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            // tracker for scpr ga account
            ga('create', 'UA-624724-1', 'auto', {'allowLinker': true});

            // tracker for npr digital services station analytics
            ga('create', 'UA-18188937-11', 'auto', {'name': 'nprDsTracker'}, {'allowLinker': true});

            ga('require', 'linker'); // require plugin for cross-domain tracking
            ga('require', 'displayfeatures'); // require plugin for doubleclick display ad features
            ga('linker:autoLink', ['scprcontribute.publicradio.org']); //set linked domain
            ga('set', 'dimension6', 'Southern California Public Radio');
            ga('set', 'dimension7', 'Story');
            ga('send', 'pageview');
            ga('nprDsTracker.send', 'pageview');
        </script>
        <!-- end google analytics -->

        <!-- begin comscore stats -->
        <script>
            var _comscore = _comscore || [];
            _comscore.push({ c1: "2", c2: "6035974", c3: "", c4: "" });
            (function() {
            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
            })();
        </script>
        <noscript>
            <img src="http://b.scorecardresearch.com/p?c1=2&c2=6035974&c3=&c4=&c5=&c6=&c15=&cv=2.0&cj=1" />
        </noscript>
        <!-- end comscore stats -->

    </body>
    <!-- end body -->

</html>
<!-- end document -->
