{% extends "base.html" %}
{% load humanize %}

{% block data-details %}
    <div id="content-article">
        <h4 class="kicker"><a href="/">Home</a> --> <a href="/wildfires/">Wildfires</a>  --> <a href="/wildfires/{{ wildfire.fire_name }}">{{ wildfire.fire_name }}</a></h4>
        <h1>Quick post generator for California Wildfires</h1>
        <div id="content-article-metadata">
            <p><span class="pubdate">May 30, 2013</span></p>
        </div>
    </div>
{% endblock %}

{% block data-visuals %}
<div id="content-table">
    <div class="row-fluid">
        <div class="span12">
            <div id ="{{ name }}">
                <h3>{{ wildfire.fire_name }} - {{ wildfire.acres_burned|intcomma }} acres burned; {{ wildfire.containment_percent|intcomma }} containment</h3>
                <p>A {% if wildfire.more_info == None %} wildfire {% else %} <a href="{{ wildfire.more_info }}" target="_blank">wildfire</a> {% endif %} in {{ wildfire.county }} {% if wildfire.acres_burned == None %} is burning {% else %} has burned {{ wildfire.acres_burned|intcomma }} acres {% endif %} as of {{ wildfire.last_update }}, according to the <a href="http://www.calfire.ca.gov/">California State Department of Forestry and Fire Prevention</a>.</p>
                <p>The {{ wildfire.fire_name }} {% if wildfire.containment_percent == None %} is being managed by the {{ wildfire.administrative_unit }}.</p> {% else %} is at about {{ wildfire.containment_percent|intcomma }} containment, and is being managed by the {{ wildfire.administrative_unit }}.</p>{% endif %}
                <p>The fire started on {{ wildfire.date_time_started }} in the location of {{ wildfire.fire_location }}.</p>
            </div>
            <a href="#fire-html-modal" role="button" class="btn btn-success" data-toggle="modal">Get the HTML</a>
            <div id="fire-html-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fire-html-modal-label" aria-hidden="true">
                <div class="modal-header">
                    <h3>HTML embed for {{ wildfire.fire_name }}</h3>
                </div>
                <div id="modal-body" class="modal-body">
                    <textarea class="span12" rows="20">
<p>A {% if wildfire.more_info == None %} wildfire {% else %} <a href="{{ wildfire.more_info }}" target="_blank">wildfire</a> {% endif %} in {{ wildfire.county }} {% if wildfire.acres_burned == None %} is burning {% else %} has burned {{ wildfire.acres_burned|intcomma }} acres {% endif %} as of {{ wildfire.last_update }}, according to the <a href="http://www.calfire.ca.gov/">California State Department of Forestry and Fire Prevention</a>.</p>
<p>The {{ wildfire.fire_name }} {% if wildfire.containment_percent == None %} is being managed by the {{ wildfire.administrative_unit }}.</p> {% else %} is at about {{ wildfire.containment_percent|intcomma }} containment, and is being managed by the {{ wildfire.administrative_unit }}.</p>{% endif %}
<p>The fire started on {{ wildfire.date_time_started }} in the location of {{ wildfire.fire_location }}.</p>
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss ="modal" aria-hidden="true">Close</button>
                </div>
            </div>
            <hr>
            <h4>Available API endpoints</h4>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                    	<td><a href="/api/v1/wildfire/set/{{  wildfire.id  }}/?format=json" target="_blank">JSON for this fire</a></td>
                    	<td><a href="/api/v1/wildfire/?format=json" target="_blank">JSON for all fires</a></td>
                    	<td><a href="/api/v1/wildfire/schema/?format=json" target="_blank">JSON schema</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}