{% extends "base.html" %}
{% load cache %}
{% load humanize %}
{% load tz %}
{% load l10n %}
{% load tracker_tags %}
{% load static %}

<!-- begin meta -->
{% block title %}{{ calwildfire.fire_name }} | KPCC's Fire Tracker{% endblock %}
{% block robots %}<meta name="robots" content="noindex, nofollow, noarchive">{% endblock %}
{% block description %}The {{ calwildfire.fire_name }} in {{ calwildfire.county }} began burning {{ calwildfire.date_time_started|date:"l, F j, Y" }} at {{ calwildfire.last_updated|date:"g:i a" }} near {{ calwildfire.location }}. {% if calwildfire.acres_burned and calwildfire.containment_percent %}As of {{ calwildfire.date_time_started|date:"l, F j, Y" }} the fire has burned {{ calwildfire.acres_burned|default_if_none:"n/a"|intcomma }} acres and is at {{ calwildfire.containment_percent|percentify }} containment.{% else %}The details on this page were last updated on {{ calwildfire.date_time_started|date:"l, F j, Y" }}.{% endif %}{% endblock %}
{% block keywords %}{{ calwildfire.fire_name }}, {{ calwildfire.county }}, {{ calwildfire.date_time_started|date:"l, F j, Y" }}, {{ calwildfire.location }}, KPCC, Southern California Public Radio, 89.3, 89.3 KPCC, Fires, Wildfires, Fire Tracker, News{% endblock %}
{% block og_title %}{{ calwildfire.fire_name }} | KPCC's Fire Tracker{% endblock %}
{% block og_site_name %}89.3 KPCC{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}http://projects.scpr.org{{ calwildfire.get_absolute_url }}{% endblock %}
{% block og_description %}Get details about the {{ calwildfire.fire_name }} in {{ calwildfire.county }} that began burning {{ calwildfire.date_time_started|date:"l, F j, Y" }} at {{ calwildfire.last_updated|date:"g:i a" }} near {{ calwildfire.location }}.{% endblock %}
{% block twitter_url %}{{ calwildfire.get_absolute_url }}{% endblock %}
{% block twitter_title %}{{ calwildfire.fire_name }} | KPCC's Fire Tracker{% endblock %}
{% block twitter_description %}Get details about the {{ calwildfire.fire_name }} in {{ calwildfire.county }} that began burning {{ calwildfire.date_time_started|date:"l, F j, Y" }} at {{ calwildfire.last_updated|date:"g:i a" }} near {{ calwildfire.location }}.{% endblock %}
<!-- end meta -->

{% block css_overrides %}
    <link href="{% static 'css/display-card.css' %}" media="screen" rel="stylesheet" />
{% endblock %}

{% block bodyclass %}card{% endblock %}

{% block extended_page_header %}
    <section class="masthead">
        <div class="masthead-inner bound">
            <div class="brief">
                <header class="title">
                    <h1><a href="{{ calwildfire.get_absolute_url }}" target="_blank">{{ calwildfire.fire_name }}</a></h1>
                    <h2>{{ calwildfire.county }}</h2>
                </header>
                <aside class="evangelize">
                    <button>Get this embed code</button>
                </aside>
            </div>
            <div class="brand">
                <h3><span class="parent"><a href="http://www.scpr.org/" target="_blank">89.3 KPCC</a></span> <span class="title"><a href="{% url index %}" target="_blank">Fire Tracker</a></span></h3>
                <h4>Last Update: {{ calwildfire.last_updated|date:"l, F j, Y g:i a T" }}</h4>
            </div>
        </div><!--/ .masthead-inner -->
    </section><!--/ .masthead -->
{% endblock %}

{% block extended_page_content %}
    {% cache cache_expire embeddable calwildfire.created_fire_id calwildfire.last_updated %}

        <div class="fire-leaflet clearfix">
            <!-- begin hooks for map or no -->
            {% if calwildfire.location_latitude and calwildfire.location_longitude %}
                <figure class="location">
                    <b class="map"><a href="https://www.google.com/maps?q={{ calwildfire.location_latitude }},{{ calwildfire.location_longitude }}&hl=en&t=m&z=10" target="_blank"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ calwildfire.location_latitude }},{{ calwildfire.location_longitude }}&amp;zoom=8&amp;size=807x240&amp;maptype=roadmap
    &amp;markers=color:blue%7C{{ calwildfire.location_latitude }},{{ calwildfire.location_longitude }}&amp;sensor=false&amp;key=AIzaSyAtS1OYyuRY0inb23BK0nuGId3FiOC6Rb8" alt="Location of {{ wildfire.fire_name }}" /></a></b>
                    <figcaption><span>{{ calwildfire.location }}</span></figcaption>
                </figure>
            {% else %}
                <aside class="location no-map">
                    <dl>
                        <dt>Location</dt>
                        <dd>{{ calwildfire.location }}</dd>
                    </dl>
                </aside>
            {% endif %}
            <!-- end hooks for map or no -->
            <section class="facts">
                <div class="clearfix">
                    <dl class="contained">
                        <dt>Contained</dt>
                            <dd>{{ calwildfire.containment_percent|percentify }}</dd>
                    </dl>
                    <dl class="acres">
                        <dt>Acres burned</dt>
                        {% if calwildfire.acres_burned %}
                            <dd>{{ calwildfire.acres_burned|default:"n/a"|default_if_none:"n/a"|intcomma }}</dd>
                        {% else %}
                            <dd>{{ calwildfire.acres_burned|default:"n/a"|default_if_none:"n/a"|intcomma }}</dd>
                        {% endif %}
                    </dl>
                    <dl class="started">
                        <dt>Started ({{ calwildfire.date_time_started|date:"Y" }})</dt>
                        {% if calwildfire.date_time_started %}
                            <dd>{{ calwildfire.date_time_started|date:"M j" }}</dd>
                        {% else %}
                            <dd></dd>
                        {% endif %}
                    </dl>
                </div>
            </section><!--/ .facts -->
        </div><!--/ .fire-leaflet -->

        <footer class="outbound">
            <a href="{{ calwildfire.get_absolute_url }}" target="_blank">See the full fire incident page at KPCC.org</a>
        </footer>

        <aside class="broadcast">
            <div class="pane">
                <p>Use the HTML below to embed an iframe of this KPCC fire card on your site. You may need to adjust the height parameter.</p>
                <textarea><p><iframe width="100%" height="450" scrolling="no" frameborder="no" src="http://projects.scpr.org{{ calwildfire.get_absolute_url }}embed"></iframe></p></textarea>
                <button>OK, thanks!</button>
            </div>
        </aside>
    {% endcache %}
{% endblock %}