{% load humanize %}
{% load tz %}

<h2>California Fire Resources</h2>
<ul>
    <li><a href="http://projects.scpr.org/firetracker/resources/wildland-firefighting-terms/">Wildland Firefighting Terms</a></li>
    <li><a href="http://calfire.ca.gov/">Cal Fire</a></li>
    <li><a href="http://www.inciweb.org/state/5/">California Incident Information System</a></li>
    <li><a href="http://www.humanesociety.org/issues/animal_rescue/tips/pets-disaster.html">How to care for and protect pets during a fire</a></li>
    <li><a href="http://frap.fire.ca.gov/">California Fire and Resource Assessment Program (FRAP)</a></li>
    <li><a href="http://gacc.nifc.gov/oncc/">Northern California Geographic Area Coordination Center (ONCC)</a></li>
</ul>