<!-- begin footer -->
<footer class="epilogue">
    <div class="epilogue-inner bound">
        <h1><a href="http://www.scpr.org/" class="parent">89.3 KPCC</a> <a href="{% url index %}" class="title">Fire Tracker</a></h1>
        <nav>
            <ul>
                <li><a href="http://scpr.org/terms/">Terms &amp; Conditions</a></li>
                <li><a href="http://scpr.org/privacy/">Privacy</a></li>
                <li><a href="http://scpr.org/web_site_feedback">Website Feedback</a></li>
                <li class="about"><a href="{% url index %}about/the-data/">About Fire Tracker</a></li>
            </ul>
        </nav>
        <p class="legal">Copyright {% now "Y" %} &copy; <a href="http://www.scpr.org/">Southern California Public Radio</a></p>
    </div>
</footer><!--/ .epilogue -->
<!-- end footer -->