{% extends "base.html" %}
{% load humanize %}
{% load tz %}
{% load tracker_tags %}
{% load static %}

<!-- begin meta -->
{% block title %}Fire Tracker | 89.3 KPCC{% endblock %}
{% block description %}89.3 KPCC's Fire Tracker is a tool for following and researching California wildfires.{% endblock %}
{% block keywords %}KPCC, Southern California Public Radio, 89.3, 89.3 KPCC, Southern California, Pasadena, Los Angeles, Fires, Wildfires, Fire Tracker, News{% endblock %}
{% block og_title %}Fire Tracker | 89.3 KPCC{% endblock %}
{% block og_site_name %}89.3 KPCC{% endblock %}
{% block og_url %}/wildfires/{% endblock %}
{% block og_description %}89.3 KPCC's Fire Tracker is a tool for following and researching California wildfires.{% endblock %}
{% block twitter_url %}/wildfires/{% endblock %}
{% block twitter_title %}Fire Tracker | 89.3 KPCC{% endblock %}
{% block twitter_description %}89.3 KPCC's Fire Tracker is a tool for following and researching California wildfires.{% endblock %}
<!-- end meta -->

{% block kpcc_api_query_script %}
    <script src="{% static 'js/kpcc-v2-api-query.js' %}"></script>
{% endblock %}

{% block kpcc_api_query_config %}
    <script>
        var kpccApiArticleConfig = {
            // comma separated string of items to query against
            // default is blogs,news,segments
            // options are news, blogs, segments, episodes, video
            types: 'news,blogs,segments',

            // string of what you want to query Outpost for
            // the script will outmatically convert spaces to a + sign
            query: '{{ calwildfires.fire_slug }}',

            // integer showing the number of items to return
            limit: 5,

            // the page of results to return
            page: 1,

            // the div on the page in which you want the content to appear
            contentContainer: '#article-list-content'
        };
    </script>
{% endblock %}

{% block fire_index_header %}
    <header class="facade">
        <div class="titling">
            <div class="titling-inner bound">
                <h1><a href="{% url index %}">Fire Tracker</a></h1>
                <h2><a href="http://www.scpr.org/">89.3 KPCC</a></h2>
                <aside class="pledge"><a href="https://scprcontribute.publicradio.org/">Pledge now.</a></aside>
            </div>
        </div><!--/ .titling -->
        <div class="subtitling">
            <div class="subtitling-inner bound">
                <h3>KPCC’s up-to-the-minute tool for following &amp; researching Southern California wildfires.</h3>
                <aside class="share">
                    <ul class="clearfix">
                        <li class="em"><a title="Email a link" href="mailto:?subject=KPCC's Fire Tracker is a tool for following and researching California wildfires&body=View KPCC's Fire Tracker here: {{ request.build_absolute_uri|urlencode }}">Email a link</a></li>
                        <li class="tu"><a title="Share on Tumblr" href="http://tumblr.com/share?s=&amp;v=3&amp;t=KPCC%27s%20Fire%20Tracker%20is%20a%20tool%20for%20following%20and%20researching%20California%20wildfires&amp;u={{ request.build_absolute_uri|urlencode }}">Share on Tumblr</a></li>
                        <li class="tw"><a title="Share on Twitter" href="https://twitter.com/intent/tweet?text=KPCC%27s%20Fire%20Tracker%20is%20a%20tool%20for%20following%20and%20researching%20California%20wildfires%20-%20{{ request.build_absolute_uri|urlencode }}">Share on Twitter</a></li>
                        <li class="fa"><a title="Share on Facebook" href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri|urlencode }}&amp;t=KPCC%27s%20Fire%20Tracker%20is%20a%20tool%20for%20following%20and%20researching%20California%20wildfires">Share on Facebook</a></li>
                    </ul>
                </aside>
            </div>
        </div><!--/ .subtitling -->
    </header><!--/ .facade -->
{% endblock %}

{% block fire_index_content %}
    <div class="lobby">
        <div class="lobby-inner bound clearfix">
            <figure class="foreword">
                <div class="photo"><img src="{% static 'media/green-valley-scene.jpg' %}" alt="" /></div>
                <figcaption>
                    <mark>So far during {% now "Y" %}, at least <em>{{ so_cal_fires }} wildfires</em> have consumed more than <em>{{ so_cal_acreage.total_acres|intcomma }} acres</em> throughout Southern California.*</mark>
                    <span>Southern California’s wildfire season officially begins in October.</span>
                </figcaption>
            </figure><!--/ .foreward -->

            <aside class="comparison">
                <header>
                    <h1>Year-Over-Year Comparison</h1>
                    <p>2013: Based on <a href="http://cdfdata.fire.ca.gov/incidents/incidents_current" target="_blank">CalFire current incidents</a>.</p>
                    <p>2012: Based on <a href="http://cdfdata.fire.ca.gov/incidents/incidents_stats?year=2012" target="_blank">CalFire archived data</a>.</p>
                </header>
                <table>
                    <thead>
                        <tr>
                            <th>Attribute</th>
                            <th><span>2012</span></th>
                            <th><span>{% now "Y" %}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Fires</th>
                            <td>{{ total_2012_fires|default_if_none:"n/a"|intcomma }}</td>
                            <td>{{ total_2013_fires|default_if_none:"n/a"|intcomma }}</td>
                        </tr>
                        <tr>
                            <th>Acres</th>
                            <td>{{ total_2012_acreage|default_if_none:"n/a"|intcomma }}</td>
                            <td>{{ total_2013_acreage.total_acres|default_if_none:"n/a"|intcomma }}</td>
                        </tr>
                        <tr>
                            <th>Injuries</th>
                            <td>{{ total_2012_injuries|default_if_none:"n/a"|intcomma }}</td>
                            <td>{{ total_2013_injuries.total_injuries|default_if_none:"n/a"|intcomma }}</td>
                        </tr>
                        <!--
                        <tr>
                            <th>Cost</th>
                            <td><span></span></td>
                            <td><span></span></td>
                        </tr>
                        -->
                    </tbody>
                </table>
            </aside>
        </div><!--/ .lobby-inner -->
    </div><!--/ .lobby -->
    <div class="landing-row welcome">
        <div class="landing-row-inner bound clearfix">
            <section class="following">
                <h1>Fires We're Following</h1>
                {% for wildfire in calwildfires %}
                    {% if wildfire.promoted_fire %}
                        <article>
                            <header class="clearfix">
                                <h1><a href="{{ wildfire.get_absolute_url }}">{{ wildfire.fire_name }}</a></h1>
                                <div class="meta">
                                    <h2>{{ wildfire.county }}</h2>
                                    <h3>Last Update: {{ wildfire.last_updated|date:"D, M d, Y g:i a" }}</h3>
                                </div>
                                <h4 class="jump"><a href="{{ wildfire.get_absolute_url }}">Full Details</a><h4>
                            </header>
                            <div class="scenes clearfix">
                                <div class="imagery clearfix">
                                    <figure class="location">
                                        <b class="img"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ wildfire.location_latitude }},{{ wildfire.location_longitude }}&amp;zoom=9&amp;size=222x146&amp;maptype=roadmap
                &amp;markers=color:blue%7C{{ wildfire.location_latitude }},{{ wildfire.location_longitude }}&amp;sensor=false&amp;key=AIzaSyAtS1OYyuRY0inb23BK0nuGId3FiOC6Rb8" alt="{{ wildfire.fire_name }}" /></b>
                                        <figcaption><span>{{ wildfire.location }}</span></figcaption>
                                    </figure>
                                    <figure class="photo">
                                        {% if wildfire.asset_host_image_id %}
                                            {% with wildfire.asset_host_image_id|search_assethost as image %}</p>
                                                <b class="img"><img src="{{image.0}}" alt="{{ wildfire.fire_name }}" /></b>
                                                <figcaption><span>{{image.1}}</span></figcaption>
                                            {% endwith %}
                                        {% else %}
                                            <b class="img"><img src="{% static 'media/archive-fire-photo-fallback.jpg' %}" alt="{{ wildfire.fire_name }}" /></b>
                                            <figcaption><span>KPCC</span></figcaption>
                                        {% endif %}
                                    </figure>
                                </div>
                                <aside class="vitals clearfix">
                                    <dl class="contained">
                                        <dt>Contained</dt>
                                        <dd>{{ wildfire.containment_percent|percentify }}</dd>
                                    </dl>
                                    <dl class="acres">
                                        <dt>Acres burned</dt>
                                        <dd>{{ wildfire.acres_burned|intcomma }}</dd>
                                    </dl>
                                    <dl class="started">
                                        <dt>Started ({{ wildfire.date_time_started|date:"Y" }})</dt>
                                        <dd>{{ wildfire.date_time_started|date:"M j" }}</dd>
                                    </dl>
                                    <dl class="air">
                                        <dt>Air Quality Index (Worst: 500)</dt>
                                        <dd>425</dd>
                                    </dl>
                                </aside>
                            </div>
                        </article>
                    {% else %}
                    {% endif %}
                {% endfor %}
            </section><!--/ .following -->
            <div class="evergreen">
                <aside class="resources">
                    <h2>California Fire Resources</h2>
                    <ul>
                        <li><a href="http://www.fire.ca.gov/">Cal Fire</a></li>
                        <li><a href="http://www.inciweb.org/state/5/">California Incident Information System</a></li>
                        <li><a href="http://www.humanesociety.org/issues/animal_rescue/tips/pets-disaster.html">How to care for and protect pets during a fire</a></li>
                        <li><a href="http://frap.fire.ca.gov/">California Fire and Resource Assessment Program (FRAP)</a></li>
                        <li><a href="http://gacc.nifc.gov/oncc/">Northern California Geographic Area Coordination Center (ONCC)</a></li>
                    </ul>
                </aside>
                <aside class="coverage">
                    <h2>Recent KPCC Coverage</h2>
                    <ul id="article-list-content"></ul>
                </aside>
            </div><!--/ .evergreen -->
        </div><!--/ .landing-row-inner -->
    </div><!--/ .landing-row -->
    <div class="landing-row reverse-chron">
        <div class="landing-row-inner bound clearfix">
            <section class="all-fires">
                <h1>Recent Fires</h1>
                {% for wildfire in calwildfires|rows:3 %}
                    {% for item in wildfire %}
                        <article>
                            <div>
                                <h1><a href="{{ item.get_absolute_url }}">{{ item|truncatewords:2 }}</a></h1>
                                <ul>
                                    <li class="date">{{ item.date_time_started|date:"M j, Y" }}</li>
                                    <li class="location">{{ item.county }}</li>
                                    <li class="acreage">{{ item.acres_burned|default_if_none:"n/a"|intcomma }} acres</li>
                                    <li class="contained">{{ item.containment_percent|percentify }} contained</li>
                                </ul>
                            </div>
                            {% if item.asset_host_image_id %}
                                <b class="img"><a href="{{ item.get_absolute_url }}"><img src="{% static 'media/archive-fire-photo-fallback.jpg' %}" alt="{{ wildfire.fire_name }}" /></a></b>
                            {% else %}
                                <b class="img"><a href="{{ item.get_absolute_url }}"><img src="{% static 'media/archive-fire-photo-fallback.jpg' %}" alt="{{ wildfire.fire_name }}" /></a></b>
                            {% endif %}
                        </article>
                    {% endfor %}
                {% endfor %}
            </section><!--/ .all-fires -->
        </div><!--/ .landing-row-inner -->
    </div><!--/ .landing-row -->
{% endblock %}
