{% extends "base.html" %}
{% load cache %}
{% load humanize %}
{% load tz %}
{% load tracker_tags %}
{% load static %}

<!-- begin meta -->
{% block title %}Fire Tracker | 89.3 KPCC{% endblock %}
{% block description %}89.3 KPCC's Fire Tracker is a tool for following and researching California wildfires.{% endblock %}
{% block keywords %}KPCC, Southern California Public Radio, 89.3, 89.3 KPCC, Southern California, Pasadena, Los Angeles, Fires, Wildfires, Fire Tracker, News{% endblock %}
{% block og_title %}Fire Tracker | 89.3 KPCC{% endblock %}
{% block og_site_name %}89.3 KPCC{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_url %}http://projects.scpr.org/firetracker{% endblock %}
{% block og_description %}89.3 KPCC's Fire Tracker is a tool for following and researching California wildfires.{% endblock %}
{% block twitter_url %}http://projects.scpr.org/firetracker{% endblock %}
{% block twitter_title %}Fire Tracker | 89.3 KPCC{% endblock %}
{% block twitter_description %}89.3 KPCC's Fire Tracker is a tool for following and researching California wildfires.{% endblock %}
<!-- end meta -->

{% block kpcc_api_query_script %}
    <script src="{% static 'js/kpcc-v2-api-query.js' %}"></script>
{% endblock %}

{% block kpcc_api_query_config %}
    <script>
        var kpccApiArticleConfig = {

            // config to help script know which page data should be displayed on
            display: 'index-page',

            // comma separated string of items to query against
            // default is blogs,news,segments
            // options are news, blogs, segments, episodes, video
            types: 'news,blogs,segments',

            // string of what you want to query Outpost for
            // the script will outmatically convert spaces to a + sign
            query: 'wildfire&burning',

            // integer showing the number of items to return
            limit: 5,

            // the page of results to return
            page: 1,

            // the div on the page in which you want the content to appear
            contentContainer: '#article-list-content'
        };
    </script>
{% endblock %}

{% block bodyclass %}frontpage{% endblock %}

{% block extended_page_header %}
    <header class="facade">
        <div class="titling">
            <div class="titling-inner bound">
                <h1><a href="{% url index %}">Fire Tracker</a></h1>
                <h2><a href="http://www.scpr.org/">89.3 KPCC</a></h2>
                <aside class="pledge"><a href="https://scprcontribute.publicradio.org/">Pledge now.</a></aside>
            </div>
        </div><!--/ .titling -->
        <div class="subtitling">
            <div class="subtitling-inner bound">
                <h3>KPCC's tool for following &amp; researching California wildfires.</h3>
                <aside class="share">
                    <ul class="clearfix">
                        <li class="em"><a title="Email a link" href="mailto:?subject=KPCC's Fire Tracker is a tool for following and researching California wildfires&body=View KPCC's Fire Tracker here: http%3A%2F%2Fprojects.scpr.org%2Ffiretracker%2F">Email a link</a></li>
                        <li class="tu"><a title="Share on Tumblr" href="http://tumblr.com/share?s=&amp;v=3&amp;t=KPCC%27s%20Fire%20Tracker%20is%20a%20tool%20for%20following%20and%20researching%20California%20wildfires&amp;u=http%3A%2F%2Fprojects.scpr.org%2Ffiretracker%2F">Share on Tumblr</a></li>
                        <li class="tw"><a title="Share on Twitter" href="https://twitter.com/intent/tweet?text=KPCC%27s%20Fire%20Tracker%20is%20a%20tool%20for%20following%20and%20researching%20California%20wildfires%20:%20http%3A%2F%2Fprojects.scpr.org%2Ffiretracker%2F">Share on Twitter</a></li>
                        <li class="fa"><a title="Share on Facebook" href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fprojects.scpr.org%2Ffiretracker%2F&amp;t=KPCC%27s%20Fire%20Tracker%20is%20a%20tool%20for%20following%20and%20researching%20California%20wildfires">Share on Facebook</a></li>
                    </ul>
                </aside>
            </div>
        </div><!--/ .subtitling -->
    </header><!--/ .facade -->
{% endblock %}

{% block extended_page_content %}
    {% cache cache_expire index cache_timestamp %}
        <div class="lobby">
            <div class="lobby-inner bound clearfix">
                <figure class="foreword">
                    <div class="photo"><img src="{% static 'media/green-valley-scene.jpg' %}" alt="" /></div>
                    <figcaption>
                        <mark>{{ display_content|random|safe }}</mark>
                        <!--
                        <mark>On the anniversary of the Cedar Fire in San Diego County we look back at the 10 largest wildfires in the state's history. <a href="{% url largest_ca_fires %}" target="_blank"><strong>View the list</strong></a></mark>
                        -->
                        <!--
                        {% for lead in lead_fire %}
                        <mark>On <em>Sept. 6</em>, the <em><a href="{{ lead.get_absolute_url }}">{{ lead.fire_name }}</a></em> became the <em>3rd largest</em> wildfire in state history, burning at least <em>{{ lead.acres_burned|default:"n/a"|default_if_none:"n/a"|intcomma }} acres</em>.</mark>
                        {% endfor %}
                        -->
                        <!--
                        <mark>So far during <em>{% now "Y" %}</em>, at least <em>4,715 wildfires</em> have consumed more than <em>94,855 acres</em> throughout <em>California</em>.<a href="{% url index %}about/the-data/">*</a></mark>
                        -->
                    </figcaption>
                </figure><!--/ .foreward -->
                <aside class="comparison">
                    <header>
                        <h1>Year-Over-Year Comparison</h1>
                        <ul>
                            {% for year in year_over_year_comparison %}
                                <li><a href="{{ year.data_source }}"><span>{{ year.year }}:</span> Based on {{ year.administrative_unit }} data through {{ year.date_range_end|date:"M d, Y" }}</a>.</li>
                            {% endfor %}
                        </ul>
                    </header>
                    <table>
                        <thead>
                            <tr>
                                <th>Attribute</th>
                                {% for year in year_over_year_comparison %}
                                    {% if year.year == 2013 %}
                                        <th><span>{{ year.year }}</span></th>
                                    {% elif year.year == 2014 %}
                                        <th><span>{{ year.year }}**</span></th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Fires</th>
                                {% for year in year_over_year_comparison %}
                                    <td>{{ year.number_of_fires|default:"n/a"|default_if_none:"n/a"|intcomma }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Acres</th>
                                {% for year in year_over_year_comparison %}
                                    <td>{{ year.acres_burned|default:"n/a"|default_if_none:"n/a"|intcomma }}</td>
                                {% endfor %}
                            </tr>
                            <!--
                            <tr>
                                <th>Injuries</th>
                                {% for year in year_over_year_comparison %}
                                    <td>{{ year.injuries|default:"n/a"|default_if_none:"n/a"|intcomma }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Cost</th>
                                {% for year in year_over_year_comparison %}
                                    <td>{{ year.dollar_damage|default:"n/a"|default_if_none:"n/a"|intcomma }}</td>
                                {% endfor %}
                            </tr>
                            -->
                        </tbody>
                    </table>
                    <h2 class="disclaimer"><a href="{% url index %}about/the-data/">* Read more about the data and methodology.</a></h2>
                    {% for year in year_over_year_comparison %}
                        {% if year.year == 2014 %}
                            <h2 class="disclaimer"><a href="{% url index %}about/the-data/">** Current as of {{ year.date_range_end|date:"M d, Y" }}.</a></h2>
                        {% endif %}
                    {% endfor %}
                </aside>
            </div><!--/ .lobby-inner -->
        </div><!--/ .lobby -->
        <div class="landing-row welcome">
            <div class="landing-row-inner bound clearfix">
                <section class="following">
                    <h1>Fires We're Following</h1>
                    {% for featured in featuredfires %}
                        <article>
                            <header class="clearfix">
                                <h1><a href="{{ featured.get_absolute_url }}">{{ featured.fire_name }}</a></h1>
                                <div class="meta">
                                    <h2>{{ featured.county }}</h2>
                                    <h3>Last Update: {{ featured.last_updated|date:"D, M d, Y g:i a T" }}</h3>
                                </div>
                                <h4 class="jump"><a href="{{ featured.get_absolute_url }}">Full Details</a></h4>
                            </header>
                            <div class="scenes clearfix">
                                <div class="imagery clearfix">
                                    <figure class="location">
                                        <!-- begin hooks for map or no -->
                                        {% if featured.location_latitude and featured.location_longitude %}
                                            <b class="img">
                                                <a href="{{ featured.get_absolute_url }}"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ featured.location_latitude }},{{ featured.location_longitude }}&amp;zoom=9&amp;size=222x146&amp;maptype=roadmap
                                                            &amp;markers=color:blue%7C{{ featured.location_latitude }},{{ featured.location_longitude }}&amp;sensor=false&amp;key=AIzaSyAtS1OYyuRY0inb23BK0nuGId3FiOC6Rb8" alt="{{ wildfire.fire_name }}" /></a>
                                            </b>
                                            <figcaption><span>{{ featured.location }}</span></figcaption>
                                        {% else %}
                                            <b class="location no-map"></b>
                                            <figcaption><span>{{ featured.location }}</span></figcaption>
                                        {% endif %}
                                        <!-- end hooks for map or no -->
                                    </figure>
                                    <figure class="photo">
                                        {% if featured.asset_host_image_id %}
                                            <b class="img"><a href="{{ featured.get_absolute_url }}"><img src="{{ featured.asset_url_link }}" alt="{{ featured.fire_name }}" /></a></b>
                                                <figcaption><span>{{ featured.asset_photo_credit }}</span></figcaption>
                                        {% else %}
                                            <b class="img"><a href="{{ featured.get_absolute_url }}"><img src="{% static 'media/archive-fire-photo-fallback.jpg' %}" alt="{{ featured.fire_name }}" /></a></b>
                                            <figcaption><span>KPCC</span></figcaption>
                                        {% endif %}
                                    </figure>
                                </div>
                                <aside class="vitals clearfix">
                                    <dl class="contained">
                                        <dt>Contained</dt>
                                        <dd>{{ featured.containment_percent|percentify }}</dd>
                                    </dl>
                                    <dl class="acres">
                                        <dt>Acres burned</dt>
                                        <dd>{{ featured.acres_burned|default:"n/a"|default_if_none:"n/a"|intcomma }}</dd>
                                    </dl>
                                    <dl class="started">
                                        <dt>Started ({{ featured.date_time_started|date:"Y" }})</dt>
                                        <dd>{{ featured.date_time_started|date:"M j" }}</dd>
                                    </dl>
                                    <dl class="air">
                                        <dt>Air Quality Index (Worst: 500)</dt>
                                        <dd>{{ featured.air_quality_rating|default:"n/a"|default_if_none:"n/a"|intcomma }}</dd>
                                    </dl>
                                </aside>
                            </div>
                        </article>
                    {% endfor %}
                </section><!--/ .following -->
                <div class="evergreen">
                    <aside class="resources">
                        {% include 'fire_resources_list.html' %}
                    </aside>
                    <aside class="coverage">
                        <h2>Recent KPCC Coverage</h2>
                        <ul id="article-list-content"></ul>
                    </aside>
                </div><!--/ .evergreen -->
            </div><!--/ .landing-row-inner -->
        </div><!--/ .landing-row -->
        <div class="landing-row reverse-chron">
            <div class="landing-row-inner bound clearfix">
                <section class="all-fires">
                    <h1>Recent Fires</h1>
                    {% for wildfire in calwildfires|rows:3 %}
                        {% for item in wildfire %}
                            <article>
                                <div>
                                    <h1><a href="{{ item.get_absolute_url }}">{{ item|truncatewords:2 }}</a></h1>
                                    <ul>
                                        <li class="date">{{ item.date_time_started|date:"M j, Y" }}</li>
                                        <li class="location">{{ item.county|default:"n/a"|default_if_none:"n/a" }}</li>
                                        <li class="acreage">{{ item.acres_burned|default:"n/a"|default_if_none:"n/a"|intcomma }} acres</li>
                                        <li class="contained">{{ item.containment_percent|percentify }} contained</li>
                                    </ul>
                                </div>
                                {% if item.asset_host_image_id %}
                                    <b class="img"><a href="{{ item.get_absolute_url }}"><img src="{{ item.asset_url_link }}" alt="{{ item.fire_name }}" /></a></b>
                                {% else %}
                                    <b class="img"><a href="{{ item.get_absolute_url }}"><img src="{% static 'media/archive-fire-photo-fallback.jpg' %}" alt="{{ item.fire_name }}" /></a></b>
                                {% endif %}
                            </article>
                        {% endfor %}
                    {% endfor %}
                    <article class="jump">
                        <div>
                            <h1><a href="{% url index %}wildfires/archives/">View the archives</a></h1>
                        </div>
                    </article>
                </section><!--/ .all-fires -->
            </div><!--/ .landing-row-inner -->
        </div><!--/ .landing-row -->
        {% include "footer.html" %}
    {% endcache %}
{% endblock %}