{% load staticfiles %}
<link href="{% static "css/project-styles.css" %}" rel="stylesheet" type="text/css" media="all" />


<!-- additional css files for projects -->
<!--
<link href="http://projects.scpr.org/static/static-files/css/tabletop-timelines/v3-styles.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://projects.scpr.org/static/static-files/css/highcharts-interactives/styles.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://projects.scpr.org/static/static-files/css/responsive-tables/responsive-tables.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://projects.scpr.org/static/static-files/css/tablestacker-tables/styles.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://projects.scpr.org/static/static-files/css/tabletop-timelines/styles.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://projects.scpr.org/static/static-files/css/jquery-alerts/jquery.alerts.css" rel="stylesheet" type="text/css" media="all" />
-->