{% block recent_aside %}
    {% if calwildfire_listing %}
        <aside class="recent">
            <h2>Recent SoCal Fires</h2>
                <nav>
                    <ul>
                        {% for wildfire in calwildfire_listing %}
                        <li>
                            <a href="{{  wildfire.get_absolute_url  }}"><h1>{{ wildfire.fire_name }}</h1><h2>{{ wildfire.date_time_started|date:"M d" }}</h2>
                            <div class="area"><mark>{{ wildfire.acres_burned }}</mark> <b>Acres</b></div></a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            {% else %}
                <nav>
                    <ul></ul>
                </nav>
        </aside>
    {% endif %}
{% endblock %}