{% extends "base.html" %}
{% load humanize %}
{% load tz %}
{% load tracker_tags %}
{% load static %}

<!-- begin meta -->
{% block title %}Archives | Fire Tracker | 89.3 KPCC{% endblock %}
{% block description %}89.3 KPCC's Fire Tracker archives contains historic wildfire data from CalFire and other sources.{% endblock %}
{% block keywords %}wildfire data, historic, archives, KPCC, Southern California Public Radio, 89.3, 89.3 KPCC, Southern California, Pasadena, Los Angeles, Fires, Wildfires, Fire Tracker, News{% endblock %}
{% block og_title %}Archives | Fire Tracker | 89.3 KPCC{% endblock %}
{% block og_site_name %}89.3 KPCC{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_url %}http://projects.scpr.org/firetracker/wildfires/archives/{% endblock %}
{% block og_description %}89.3 KPCC's Fire Tracker archives contains historic wildfire data from CalFire and other sources.{% endblock %}
{% block twitter_url %}http://projects.scpr.org/firetracker/wildfires/archives/{% endblock %}
{% block twitter_title %}Archives | Fire Tracker | 89.3 KPCC{% endblock %}
{% block twitter_description %}89.3 KPCC's Fire Tracker archives contains historic wildfire data from CalFire and other sources.{% endblock %}
<!-- end meta -->

{% block css_overrides %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.4/leaflet.min.css" media="all" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.4/leaflet.ie.min.css" />
    <![endif]-->
{% endblock %}

{% block additional_scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.6.4/leaflet.js" type="text/javascript"></script>
    <script src="{% static 'data/cedar-fire.js' %}" type="text/javascript"></script>
{% endblock %}

{% block extended_page_header %}
    <header class="masthead">
        <div class="masthead-inner bound">
            <div class="brief">
                <h1><a href="{% url index %}wildfires/archives/">20 largest wildfires</a></h1>
            </div>
            <aside class="brand">
                <h3><span class="parent"><a href="http://www.scpr.org/">89.3 KPCC</a></span> <span class="title"><a href="{% url index %}">Fire Tracker</a></span></h3>
                <h4><span>KPCC’s up-to-the-minute tool for following &amp; researching Southern California wildfires.</span> <a href="https://scprcontribute.publicradio.org/">Pledge now.</a></h4>
            </aside>
        </div><!--/ .masthead-inner -->
    </header><!--/ .masthead -->
{% endblock %}

{% block extended_page_content %}
    <div class="landing-row welcome">
        <div class="landing-row-inner bound clearfix">
            <section class="following">
                {% for featured in calwildfires %}
                    <article>
                        <header class="clearfix">
                            <h1><a href="{{ featured.get_absolute_url }}">{{ featured.fire_name }}</a></h1>
                            <div class="meta">
                                <h2>{{ featured.county }}</h2>
                                <h3>Started: {{ featured.date_time_started|date:"D, M d, Y" }}</h3>
                            </div>
                            <h4 class="jump"><a href="{{ featured.get_absolute_url }}">Full Details</a></h4>
                        </header>
                        <div class="scenes clearfix">
                            <div class="imagery clearfix">
                                <figure class="location">
                                    <b class="img">
                                        <div style="width: 222px; height: 146px;" id="map-canvas"></div>
                                    </b>
                                    <figcaption><span>{{ featured.location }}</span></figcaption>
                                </figure>
                                <figure class="photo">
                                    {% if featured.asset_host_image_id %}
                                        <b class="img"><a href="{{ featured.get_absolute_url }}"><img src="{{ featured.asset_url_link }}" alt="{{ featured.fire_name }}" /></a></b>
                                            <figcaption><span>{{ featured.asset_photo_credit }}</span></figcaption>
                                    {% else %}
                                        <b class="img"><a href="{{ featured.get_absolute_url }}"><img src="{% static 'media/archive-fire-photo-fallback.jpg' %}" alt="{{ featured.fire_name }}" /></a></b>
                                        <figcaption><span>KPCC</span></figcaption>
                                    {% endif %}
                                </figure>
                            </div>
                            <aside class="vitals clearfix">
                                <dl class="acres">
                                    <dt>Acres burned</dt>
                                    <dd>{{ featured.acres_burned|default:"n/a"|default_if_none:"n/a"|intcomma }}</dd>
                                </dl>
                                <p>{{ featured.historical_narrative|default_if_none:" " }}</p>
                            </aside>
                        </div>
                    </article>
                {% endfor %}
            </section><!--/ .following -->
            <div class="evergreen">
                <aside class="resources">
                    <h2>California Fire Resources</h2>
                    <ul>
                        <li><a href="http://www.fire.ca.gov/">Cal Fire</a></li>
                        <li><a href="http://www.inciweb.org/state/5/">California Incident Information System</a></li>
                        <li><a href="http://www.humanesociety.org/issues/animal_rescue/tips/pets-disaster.html">How to care for and protect pets during a fire</a></li>
                        <li><a href="http://frap.fire.ca.gov/">California Fire and Resource Assessment Program (FRAP)</a></li>
                        <li><a href="http://gacc.nifc.gov/oncc/">Northern California Geographic Area Coordination Center (ONCC)</a></li>
                    </ul>
                </aside>
            </div><!--/ .evergreen -->
        </div><!--/ .landing-row-inner -->
    </div><!--/ .landing-row -->
    {% include "footer.html" %}


    <script src="{% static 'js/perimeters-map-script.js' %}"></script>

    <script type="text/javascript">
        map = new L.map('map-canvas', {
            scrollWheelZoom: false,
            zoomControl:false
        });

        var center = new L.LatLng(32.899191,-116.795869);
        map.setView(center, 8);
        map.dragging.disable();

        googleLayer = L.tileLayer("http://{s}.google.com/vt/?hl=en&x={x}&y={y}&z={z}&s={s}", {
            attribution: "Map data: Copyright Google, 2013",
            subdomains: ['mt0','mt1','mt2','mt3']
        });

        map.addLayer(googleLayer);

        //var myLayer = L.geoJson().addTo(map);

        L.geoJson(cedarFireJson, {
            style: function (feature) {
                return {
                    color: 'black',
                    weight: 5,
                    fillColor: 'black',
                    opacity: 0.5,
                    fillOpacity: 0.5
                }
            },
        }).addTo(map);
    </script>

{% endblock %}