
.bound															{ width: 1100px;	}
body.card .bound												{ width: 95%;		}




.epilogue .parent,
.facade h2 a,
.lobby-inner .comparison tbody th,
.landing-row .following .scenes .imagery figcaption,
.all-fires article li,
.masthead .brand .parent,
.masthead .brand h4 a,
.share li a,
.share li a,
.fire-dashboard .location figcaption,
.fire-dashboard .damages dl,
.epilogue .parent												{ background-image: url(i/1x/fire-icons.png);							}
.facade .pledge a												{ background-image: url(i/1x/heart-icon-orange.png);					}
.fire-leaflet .facts dl,
.landing-row .following .scenes .vitals dl						{ background-image: url(i/1x/vitals-icons.png);							}
.landing-row .following article .jump a,
.landing-row article.jump h1									{ background-image: url(i/1x/ephemera-caret.png);						}
.all-fires article.jump											{ background: none;														}
.fire-leaflet .location.no-map dl,
.fire-dashboard .location.no-map dl								{ background-image: url(i/1x/blue-location-pin.png);					}
.fire-message dl												{ background-image: url(i/1x/blue-evacuee.png);							}
.fire-supplemental .deployed dl									{ background-image: url(i/1x/fire-deployables.png);						}
.fire-supplemental .dispatches > header h1						{ background-image: url(i/1x/twitter.png);								}
.masthead .evangelize button									{ background-image: url(i/1x/icon-download-cloud.png);					}
.outbound a														{ background-image: url(i/1x/rightward-triangle.png);					}



.lobby-inner .comparison thead th {
	height: 50px;
}
.lobby-inner .comparison thead th:first-child {
	color: #0F1620;
}
.lobby-inner .comparison tbody td {
	font-size: 1.5em;
}



.fire-dashboard .credit {
	background: black; /* you don't understand rgba */
}



.landing-row .following article {
	position: relative;
	width: 100%;
	min-height: 270px;
	overflow: hidden;
}
		.landing-row .following article header {
			min-height: 50px;
			position: static;
			display: block;
			overflow: hidden;
		}
		.landing-row .following article .scenes {
			width: 100%;
			position: relative;
			min-height: 180px;
			overflow: hidden;
			margin-top: 60px; /* ???? */
			margin-left: 0;
			top: auto;
			display: static;
		}






.epilogue .parent {
	background: url(i/1x/kpcc-logo.png) no-repeat 0 0;
}






/*	#################################################################################################################################
	Embeddable Card: Basics
	################################################################################################################################# */

	.card .masthead-inner {
		padding-top: 65px;
	}
	.card .masthead .brief {
		border-top: 1px solid #768fb3;
		padding-top: 10px;
	}
	.card .masthead .brief h1 {
		font-size: 1.8em;
	}
	.card .masthead .brand h4,
	.card .masthead .brand h3 {
		position: relative;
		text-align: left;
	}
	.card .masthead .brand h4 {
		border-top: 1px solid #768fb3;
		padding-top: 6px;
	}
	.card .masthead .brand h3 {
		padding-bottom: 5px;
	}
	.card .masthead .evangelize {
		top: 10px;
	}
	.card .fire-leaflet figcaption {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		background: transparent;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)"; /* IE8 */
		    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);   /* IE6 & 7 */
		      zoom: 1;
	}
	.card .fire-leaflet {
		height: auto;
	}
	.card .fire-leaflet .location {
		height: auto;
	}
	.card .fire-leaflet .location .map {
		position: relative;
		overflow: visible;
		height: auto;
	}




/*	#################################################################################################################################
	Embeddable Card: Structure
	(These are basically just copied over from the "smallest width" media query in ( display-card.css ).
	################################################################################################################################# */
	
	.fire-leaflet {
		height: auto;
		border-top: 1px solid #97abc9;
	}
	.fire-leaflet .location,
	.fire-leaflet .facts {
		width: 100%;
		float: none;
		height: auto;
	}
			.fire-leaflet .location {
				height: 128px;
				border-bottom: 1px solid white;
			}
			.fire-leaflet .location.no-map {
				height: auto;
				min-height: 6em;
			}
					.fire-leaflet .location.no-map dt {
						margin-bottom: 5px; /* not 13 */
					}
					.fire-leaflet .location.no-map dd {
						padding-top: 6px;
						border-top: 1px solid #415c76;
					}

			.fire-leaflet .facts {
				padding: 5px 0;
			}
					.fire-leaflet .facts > div {
						margin: 0 0 0 0;
					}
					.fire-leaflet .facts dl {
						padding-top: 80px;
					}
					.fire-leaflet .facts dd {
						top: 45px;
						font-size: 1.7em;
					}
