{% extends "base.html" %}
{% load humanize %}
{% load tz %}
{% load tracker_tags %}
{% load static %}

<!-- begin meta -->
{% block title %}{{ flatpage.title }} | Fire Tracker | 89.3 KPCC{% endblock %}
{% block description %}Fire Tracker, KPCC's tool for following & researching California wildfires, contains fire information displayed by the California Department of Forestry and Fire Protection.{% endblock %}
{% block keywords %}wildfire data, historic, archives, KPCC, Southern California Public Radio, 89.3, 89.3 KPCC, Southern California, Pasadena, Los Angeles, Fires, Wildfires, Fire Tracker, News{% endblock %}
{% block og_title %}{{ flatpage.title }}{% endblock %}
{% block og_site_name %}89.3 KPCC{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_url %}http://projects.scpr.org/firetracker{{ flatpage.url }}{% endblock %}
{% block og_description %}Fire Tracker, KPCC's tool for following & researching California wildfires, contains fire information displayed by the California Department of Forestry and Fire Protection.{% endblock %}
{% block twitter_url %}http://projects.scpr.org/firetracker{{ flatpage.url }}{% endblock %}
{% block twitter_title %}{{ flatpage.title }}{% endblock %}
{% block twitter_description %}Fire Tracker, KPCC's tool for following & researching California wildfires, contains fire information displayed by the California Department of Forestry and Fire Protection.{% endblock %}
<!-- end meta -->

{% block extended_page_header %}
    <header class="masthead">
        <div class="masthead-inner bound">
            <div class="brief">
                <h1><a href="/firetracker{{ flatpage.url }}">{{ flatpage.title }}</a></h1>
            </div>
            <aside class="brand">
                <h3><span class="parent"><a href="http://www.scpr.org/">89.3 KPCC</a></span> <span class="title"><a href="{% url index %}">Fire Tracker</a></span></h3>
                <h4><span>KPCC’s up-to-the-minute tool for following &amp; researching Southern California wildfires.</span> <a href="https://scprcontribute.publicradio.org/">Pledge now.</a></h4>
            </aside>
        </div><!--/ .masthead-inner -->
    </header><!--/ .masthead -->
{% endblock %}

{% block extended_page_content %}
    <div class="page-cols page-cols-simple bound">
        {{ flatpage.content }}
    </div><!--/ .page-cols -->

    {% include "footer.html" %}

{% endblock %}