{% extends "base.html" %}
{% load humanize %}
{% load tz %}
{% load l10n %}
{% load tracker_tags %}
{% load static %}

<!-- begin meta -->
{% block title %}{{ flatpage.title }} | Fire Tracker | 89.3 KPCC{% endblock %}
{% block description %}Fire Tracker, KPCC's tool for following & researching California wildfires, contains fire information displayed by the California Department of Forestry and Fire Protection.{% endblock %}
{% block keywords %}wildfire data, historic, archives, KPCC, Southern California Public Radio, 89.3, 89.3 KPCC, Southern California, Pasadena, Los Angeles, Fires, Wildfires, Fire Tracker, News{% endblock %}
{% block og_title %}{{ flatpage.title }}{% endblock %}
{% block og_site_name %}89.3 KPCC{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_url %}http://projects.scpr.org/firetracker{{ flatpage.url }}{% endblock %}
{% block og_description %}Fire Tracker, KPCC's tool for following & researching California wildfires, contains fire information displayed by the California Department of Forestry and Fire Protection.{% endblock %}
{% block twitter_url %}http://projects.scpr.org/firetracker{{ flatpage.url }}{% endblock %}
{% block twitter_title %}{{ flatpage.title }}{% endblock %}
{% block twitter_description %}Fire Tracker, KPCC's tool for following & researching California wildfires, contains fire information displayed by the California Department of Forestry and Fire Protection.{% endblock %}
<!-- end meta -->

{% block css_overrides %}
<style type="text/css">
    .masthead {margin-bottom: 0px;}
    .primary p {font-size: 100%; line-height: 1.2; margin: 1em 0 1em 0;}
    .primary ul li {list-style-type: disc; list-style-position: inside; display: list-item; margin: 0 0 0 1em;}
</style>
{% endblock %}

{% block extended_page_header %}
    <header class="masthead">
        <div class="masthead-inner bound">
            <div class="brief">
                <h1><a href="/firetracker{{ flatpage.url }}">{{ flatpage.title }}</a></h1>
            </div>
            <aside class="brand">
                <h3><span class="parent"><a href="http://www.scpr.org/">89.3 KPCC</a></span> <span class="title"><a href="{% url index %}">Fire Tracker</a></span></h3>
                <h4><span>KPCC’s up-to-the-minute tool for following &amp; researching Southern California wildfires.</span> <a href="https://scprcontribute.publicradio.org/">Pledge now.</a></h4>
            </aside>
        </div><!--/ .masthead-inner -->
    </header><!--/ .masthead -->
{% endblock %}

{% block extended_page_content %}
        <div class="page-cols clearfix bound">
            <div class="primary">
                {{ flatpage.content }}
            </div><!--/ .primary -->
            <div class="secondary single-evergreen">
                <aside class="resources">
                    <h2>California Fire Resources</h2>
                    <ul>
                        <li><a href="http://www.fire.ca.gov/">Cal Fire</a></li>
                        <li><a href="http://www.inciweb.org/state/5/">California Incident Information System</a></li>
                        <li><a href="http://www.humanesociety.org/issues/animal_rescue/tips/pets-disaster.html">How to care for and protect pets during a fire</a></li>
                        <li><a href="http://frap.fire.ca.gov/">California Fire and Resource Assessment Program (FRAP)</a></li>
                        <li><a href="http://gacc.nifc.gov/oncc/">Northern California Geographic Area Coordination Center (ONCC)</a></li>
                    </ul>
                </aside>
                <aside class="recent"></aside>
            </div><!--/ .secondary -->
        </div><!--/ .page-cols -->

        {% include "footer.html" %}
{% endblock %}